{% extends 'base.html.twig' %}

{% block body %}
    <h1>Language</h1>

    <table>
        <tbody>
            <tr>
                <th>Idiom</th>
                <td>{{ language.idiom }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if language.created %}{{ language.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if language.updated %}{{ language.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if language.deleted %}{{ language.deleted|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ language.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('einstein_language_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('einstein_language_edit', { 'id': language.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
