

{% block body %}
   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('einstein_default_index') }}">Einstein</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ path('einstein_user_index') }}">Usuários</a></li>
          <li><a href="{{ path('einstein_magazine_index') }}">Revistas</a></li>
          <li><a href="{{ path('einstein_version_index') }}">Versões</a></li>
          <li><a href="{{ path('einstein_content_index') }}">Artigos</a></li>
          <li><a href="{{ path('einstein_gender_index') }}">Generos</a></li>
          <li><a href="{{ path('einstein_type_index') }}">Status</a></li>
          <li><a href="{{ path('einstein_typeuser_index') }}">Status Usuario</a></li>
          <li><a href="{{ path('einstein_message_index') }}">Mensagens</a></li>
          <li><a href="{{ path('einstein_notification_index') }}">Notificações</a></li>
          <li><a href="{{ path('einstein_favorite_index') }}">Favoritos</a></li>
          <li><a href="{{ path('einstein_comment_index') }}">Comentarios</a></li>
          <li><a href="{{ path('einstein_language_index') }}">Linguaguem</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sair</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% endblock %}