{% extends 'base.html.twig' %}

{% block body %}
    <h1>Type</h1>

    <table>
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ type.type }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if type.created %}{{ type.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if type.updated %}{{ type.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if type.deleted %}{{ type.deleted|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ type.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('einstein_type_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('einstein_type_edit', { 'id': type.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
