{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message</h1>

    <table>
        <tbody>
            <tr>
                <th>Message</th>
                <td>{{ message.message }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if message.createdDate %}{{ message.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateddate</th>
                <td>{% if message.updatedDate %}{{ message.updatedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deleteddate</th>
                <td>{% if message.deletedDate %}{{ message.deletedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('einstein_message_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('einstein_message_edit', { 'id': message.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
