{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeuser</h1>

    <table>
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ typeUser.type }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if typeUser.created %}{{ typeUser.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if typeUser.updated %}{{ typeUser.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if typeUser.deleted %}{{ typeUser.deleted|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ typeUser.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('einstein_typeuser_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('einstein_typeuser_edit', { 'id': typeUser.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
