{% extends 'base.html.twig' %}

{% block body %}
  <div class="page-header"> 
            <h1>Notifications list</h1>
        </div>
        <table class="table table-responsive">
   
        <thead>
            <tr>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Deleted</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td><a href="{{ path('einstein_notification_show', { 'id': notification.id }) }}">{{ notification.description }}</a></td>
                <td>{% if notification.created %}{{ notification.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if notification.updated %}{{ notification.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if notification.deleted %}{{ notification.deleted|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ notification.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('einstein_notification_show', { 'id': notification.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('einstein_notification_edit', { 'id': notification.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('einstein_notification_new') }}">Create a new notification</a>
        </li>
    </ul>
{% endblock %}
