{% extends 'base.html.twig' %}

{% block body %}
    <h1>Version</h1>

    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <td>{{ version.version }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if version.created %}{{ version.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ version.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('einstein_version_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('einstein_version_edit', { 'id': version.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
